@font-face {
  font-family: Futura;
  src: url(fonts/Futura.ttc); }

@font-face {
  font-family: Mamelon;
  src: url(fonts/Mamelon.otf); }

@font-face {
  font-family: Hiragino_Kaku_Gothic;
  src: url(fonts/Hiragino_Kaku_Gothic.ttc); }

@media screen and (min-width: 320px) {
  header {
    height: 70px; }
    header h1 {
      width: 200px;
      padding-top: 20px;
      padding-left: 20px; }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; }
  #closebtn {
    width: 50px;
    height: 50px;
    background: none;
    color: white;
    margin-right: 0; }
  nav span.icon {
    position: absolute;
    right: 0;
    top: 0; }
  span.icon {
    box-sizing: border-box;
    font-size: 29px;
    margin-right: 20px;
    font-family: Futura;
    letter-spacing: 10px; }
  .icwidth {
    width: 90px;
    height: 60px;
    font-size: 16px !important;
    word-break: break-all;
    font-weight: 100 !important;
    text-align: center;
    border-left: 2px solid white;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 12px;
    margin-right: 0px !important; }
  .icwidth a {
    color: white; }
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin-top: 30px;
    color: white !important; }
  header ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important; }
  .overlay li {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
    line-height: 150%; }
  .nav_mu a {
    color: white;
    font-family: Futura;
    font-weight: 600;
    text-decoration: none;
    font-size: 30px; }
  .hero_sec {
    background: #9BCDE8;
    height: 600px;
    width: 100%; }
    .hero_sec h2 {
      width: 295px;
      margin: 20px auto;
      text-align: center;
      font-family: Mamelon;
      color: white;
      font-weight: lighter;
      margin-top: 20px;
      letter-spacing: 18px; }
    .hero_sec .carousel {
      width: 100%;
      height: 422px;
      margin: 0 auto;
      position: relative;
      overflow: hidden; }
    .hero_sec h3 {
      font-family: Hiragino_Kaku_Gothic;
      font-size: 12px;
      width: 280px;
      margin: 0 auto;
      text-align: center;
      color: white;
      border: 4px solid #FFBBCC;
      height: 300px;
      justify-content: center;
      padding-top: 25px;
      letter-spacing: 2px; }
    .hero_sec .slider_img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center; }
      .hero_sec .slider_img img {
        width: 100%;
        text-align: center; }
  .serv_sec {
    height: auto;
    background: #F0F0F0; }
    .serv_sec nav {
      width: 100%;
      height: 40px;
      background: white; }
      .serv_sec nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-top: 10px;
        padding-bottom: 10px; }
        .serv_sec nav ul li {
          border-left: 1px solid #666666;
          text-align: center;
          vertical-align: middle;
          padding-top: 3px;
          height: 20px;
          font-family: Futura;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 12px;
          color: #666666; }
        .serv_sec nav ul li:nth-child(1) {
          border: none; }
    .serv_sec .inner_serv_sec {
      background: #F0F0F0;
      width: 100%;
      position: relative;
      padding-bottom: 100px; }
      .serv_sec .inner_serv_sec .sup-heading {
        font-family: Futura;
        font-size: 50px;
        color: #99CCEE;
        font-weight: lighter;
        text-align: center;
        width: 320px;
        margin: auto;
        padding-top: 48px;
        margin-bottom: 40px;
        letter-spacing: 20px; }
        .serv_sec .inner_serv_sec .sup-heading span {
          letter-spacing: 10px; }
      .serv_sec .inner_serv_sec .sub_heading {
        font-family: Hiragino_Kaku_Gothic;
        font-size: 16px;
        letter-spacing: 2px;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        margin-bottom: 40px;
        padding-left: 40px;
        width: 220px;
        height: 60px;
        margin-right: auto; }
      .serv_sec .inner_serv_sec .ser_text {
        width: 90%;
        margin-left: 20px;
        border: 5px solid #FFBBCC;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px; }
        .serv_sec .inner_serv_sec .ser_text h2 {
          font-family: Futura;
          color: #99CCEE;
          font-size: 56px;
          font-style: italic;
          margin-bottom: 30px;
          margin-top: -40px; }
        .serv_sec .inner_serv_sec .ser_text h3 {
          font-family: Futura;
          font-weight: lighter;
          color: #99CCEE;
          font-size: 32px;
          letter-spacing: 2px; }
        .serv_sec .inner_serv_sec .ser_text h4 {
          font-family: Hiragino_Kaku_Gothic;
          font-size: 14px;
          margin-top: 15px;
          margin-bottom: 15px;
          letter-spacing: 2px; }
        .serv_sec .inner_serv_sec .ser_text p {
          font-family: Hiragino_Kaku_Gothic;
          font-size: 12px;
          line-height: 200%;
          margin-bottom: 20px; }
        .serv_sec .inner_serv_sec .ser_text .more_ink {
          display: grid;
          grid-template-columns: 1fr;
          justify-items: end;
          align-items: center;
          background-image: url(../images/arrow.png);
          background-repeat: no-repeat;
          background-position: bottom right;
          margin-right: -25px; }
          .serv_sec .inner_serv_sec .ser_text .more_ink a {
            width: 100px;
            height: 40px;
            text-align: center;
            padding-top: 10px;
            color: black;
            font-family: Futura;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 10px; }
      .serv_sec .inner_serv_sec .serv_img_01::after {
        content: '';
        display: block;
        width: 320px;
        height: 320px;
        position: absolute;
        left: 30px; }
      .serv_sec .inner_serv_sec .serv_img_01 {
        width: 320px;
        height: 320px;
        background: #ffbbcc3b;
        margin-left: auto; }
        .serv_sec .inner_serv_sec .serv_img_01 img {
          width: 100%;
          margin-top: -30px;
          z-index: 999;
          display: block; }
      .serv_sec .inner_serv_sec .serv_img_02::after {
        content: '';
        display: block;
        width: 320px;
        height: 320px;
        position: absolute;
        left: 30px; }
      .serv_sec .inner_serv_sec .serv_img_02 {
        width: 320px;
        height: 320px;
        background: #99CCEE3b;
        margin-right: auto; }
        .serv_sec .inner_serv_sec .serv_img_02 img {
          width: 100%;
          margin-top: -30px;
          z-index: 999;
          display: block; }
      .serv_sec .inner_serv_sec .serv_img_03::after {
        content: '';
        display: block;
        width: 320px;
        height: 320px;
        position: absolute;
        left: 30px; }
      .serv_sec .inner_serv_sec .serv_img_03 {
        width: 320px;
        height: 320px;
        background: #FFBBCC3b;
        margin-left: auto; }
        .serv_sec .inner_serv_sec .serv_img_03 img {
          width: 100%;
          margin-top: -30px;
          z-index: 999;
          display: block; }
  .mis_univ {
    background-color: #E5EDF5;
    height: 900px; }
    .mis_univ .sup-heading {
      font-family: Futura;
      font-size: 50px;
      color: #99CCEE;
      font-weight: lighter;
      text-align: center;
      width: 320px;
      margin: auto;
      padding-top: 48px;
      margin-bottom: 40px;
      letter-spacing: 15px; }
      .mis_univ .sup-heading span {
        letter-spacing: 25px; }
    .mis_univ .sub_heading {
      font-family: Hiragino_Kaku_Gothic;
      font-size: 16px;
      letter-spacing: 2px;
      padding-bottom: 10px;
      border-bottom: 2px solid black;
      margin-bottom: 40px;
      width: 305px;
      height: 60px;
      margin-left: auto; }
    .mis_univ .red_text {
      color: #FFBBCC;
      font-family: Futura;
      font-size: 36px;
      letter-spacing: 15px;
      text-align: center;
      width: 320px;
      position: relative;
      bottom: 77px; }
    .mis_univ .mis_univ_img {
      width: 300px;
      height: 400px;
      margin: 0 auto;
      text-align: center; }
      .mis_univ .mis_univ_img img {
        width: 100%; }
      .mis_univ .mis_univ_img .more_ink {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        background-image: url(../images/arrow.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 10px; }
        .mis_univ .mis_univ_img .more_ink a {
          width: 100px;
          height: 60px;
          text-align: center;
          padding-top: 10px;
          color: black;
          font-family: Futura;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 10px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }
